<div class="container">

<h2>Sign in</h2>
<form method="post" action="/login">
  <input type="text" name="user[email]" placeholder="email">
  <input type="password" name="user[password]" placeholder="password">
  <input type="submit" value="Login">
</form>

or <h3><a href="/register">Register</a></h3>

</div>
