<!doctype html>
<html lang="en" class="yui3-js-enabled">
<head>
    <link rel="stylesheet" href="/css/marketing.css">
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="A layout example that shows off a responsive product landing page.">

    <title>Mate</title>




<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">



<!--[if lte IE 8]>

    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-old-ie-min.css">

<![endif]-->
<!--[if gt IE 8]><!-->

    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">

<!--<![endif]-->



<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">




    <!--[if lte IE 8]>
        <link rel="stylesheet" href="css/layouts/marketing-old-ie.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="css/layouts/marketing.css">
    <!--<![endif]-->







</head>
<body>

<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="/">Mate</a>

        <ul class="pure-menu-list">
            <li class="pure-menu-item">
                <form method="post" action="/login">
                    <input type="text" name="user[email]" placeholder="email" >
                    <input type="password" name="user[password]" placeholder="password">
                    <label for="remember">
                    <input id="remember" type="checkbox">Remember me
                    </label>
                    <!-- Fix this color styling -->
                    <input type="submit" class="pure-button pure-button-primary" value="Login" style="margin-left: 1em; margin-right: 1em">
                </form>
            </li>
            <li class="pure-menu-item"><a href="/register" class="pure-menu-link">Sign Up</a></li>
        </ul>
    </div>
</div>

<div class="splash-container">
    <div class="splash">
        <h1 class="splash-head">Mate</h1>
        <p class="splash-subhead">
            Discover and remember your friends
        </p>
        <p>
            <a href="/register" class="pure-button pure-button-primary">Get Started</a>
        </p>
    </div>
</div>

<div class="content-wrapper">
    <div class="content">
        <h2 class="content-head is-center">Why use Mate?</h2>

        <div class="pure-g">
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">

                <h3 class="content-subhead">
                    <i class="fa fa-rocket"></i>
                    Get Started Quickly
                </h3>
                <p>
                    Just sign up and you can immediately start building out knowledge on your friends.
                </p>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-mobile"></i>
                    Made for Web and Mobile
                </h3>
                <p>
                    Look up your friends on the big screen for desktops or while on the move via mobile.
                </p>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-th-large"></i>
                    Structured knowledge
                </h3>
                <p>
                    Got a break after meeting new friends or your existing ones? Jot down some notes here in Mate so you'll never forget your encounter.
                </p>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-check-square-o"></i>
                    Well Supported
                </h3>
                <p>
                    We have a commitment to delivering new features on a regular basis to help you keep track of your friends, better.
                </p>
            </div>
        </div>
    </div>

    <div class="ribbon l-box-lrg pure-g">
        <div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">
            <img class="pure-img-responsive" alt="File Icons" width="300" src="https://avatars3.githubusercontent.com/u/4373167?v=3&s=460" style="border-radius: 150px; width: 120px;"> <!-- Fix this to point to the local version of my profile picture -->
        </div>
        <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">

            <h2 class="content-head content-head-ribbon">Why did I create Mate?</h2>

            <p>
                Mate was born out of a desire to create longer-lasting and fulfiling relationships with new and existing friends. By tracking conversations with our friends, we're less likely to skip a beat the next time. Stop forgetting--instead, let's Mate!
            </p>
        </div>
    </div>

</div>



</body>
</html>
