<div class="content">
<div class="pure-g">

<div class="pure-u-2-5">
  <div class="l-box">
  <form method="post" action="/login" class="pure-form pure-form-stacked" >
  <h3>
    Login
  </h3>
    <input type="text" name="user[email]" placeholder="email">
    <input type="password" name="user[password]" placeholder="password">
    <label for="remember">
        <input id="remember" type="checkbox"> Remember me
    </label>
    <input type="submit" class="pure-button pure-button-primary" value="Login">
  </form>
  </div>
</div>

<div class="pure-u-3-5">
  <div class="l-box">
    <h3>
      <a href="/register" class="pure-button pure-button-primary">Register</a>
    </h3>
  </div>
</div>

</div>
</div>
