<div class="main">
<div class="content">

  <h2 class="content-subhead">Your Mates</h2>
  <form action="/new" method="get" >
    <input type="submit" value="Create a mate" class="pure-button pure-input-1-2 pure-button-primary">
  </form>
  <ul>
  <% @user_mates.each do |mate| %>
    <li>
      <a href="/mates/<%= mate.id %>"><%= mate.first_name %> <%= mate.last_name %></a>
    </li>
  <% end %>
  </ul>

</div>
</div>
