<div class="container">

<form method="post" action="/new">
  First Name: <input type="text" name="new[first_name]"><br>
  Last Name: <input type="text" name="new[last_name]">
  <input type="submit" value="Create">
</form>

</div>
