<div class="container">
<div class="content">

<h1>Register</h1>
<form method="Post" action="/register" class="pure-form">
  <input type="text" name="user[name]" placeholder="name">
  <input type="text" name="user[email]" placeholder="email">
  <input type="password" name="user[password]" placeholder="password">
  <input type="submit" value="Register" class="pure-button pure-button-primary">
</form>

<button class="pure-button pure-button-primary" style="margin-top: 1em"><a href="/">Cancel</a></button>

</div>
</div>
